@* https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-5.0 *@
@model Post

@{
    var postPreviewBigSmall = "post-preview--small";
    var imgWrappBigSmall = "post-preview-img-wrapp--small";

    if ((bool)ViewData["IsFirst"])
    {
        postPreviewBigSmall = "post-preview--big";
        imgWrappBigSmall = "post-preview-img-wrapp--big";
    }

}

@{
    var test = Model.Language.ToString();
    var tes3 = Model.Date.ToShortDateString(); 
 }

<div class="post-preview @postPreviewBigSmall">
    <div class="post-preview-content">
        <a class="post-preview-title post-preview-title--primary" asp-page="/Blog/Post" asp-route-lang="@Model.Language" asp-route-cat="@Model.Category" asp-route-slug="@Model.Slug">
            <h2>@Model.Title</h2>
        </a>
        <a class="button" asp-page="/Blog/Post" asp-route-lang="@Model.Language" asp-route-cat="@Model.Category" asp-route-slug="@Model.Slug">Read The Post</a>
    </div>
    <a asp-page="/Blog/Post" asp-route-lang="@Model.Language" asp-route-cat="@Model.Category" asp-route-slug="@Model.Slug">
        <div class="post-preview-img-wrapp @imgWrappBigSmall">
            <img src="@Model.ImgPath" alt="@Model.ImgAlt" />
        </div>
    </a>
</div>


