@page
@model LK.Pages.Blog.IndexModel
@{
    ViewData["Title"] = "Recent Posts";
}

@{int index = 0; }

@foreach (var post in Model.Posts)
{

    if (index == 0)
    {
        <div class="post-preview post-preview--big">
            <div class="post-preview-content">
                <a class="post-preview-title post-preview-title--primary" asp-page="/Blog/Post" asp-route-slug="@post.Slug">
                    <h2>@post.Title</h2>
                </a>
                <a class="button" asp-page="/Blog/Post" asp-route-slug="@post.Slug">Read The Post</a>
            </div>
            <a asp-page="/Blog/Post" asp-route-slug="@post.Slug">
                <div class="post-preview-img-wrapp post-preview-img-wrapp--big">
                    <img src="@post.ImgPath" alt="@post.ImgAlt" />
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="post-preview post-preview--small">
            <div class="post-preview-content">
                <a class="post-preview-title post-preview-title--primary" asp-page="/Blog/Post" asp-route-slug="@post.Slug">
                    <h2>@post.Title</h2>
                </a>
                <a class="button" asp-page="/Blog/Post" asp-route-slug="@post.Slug">Read The Post</a>
            </div>
            <a asp-page="/Blog/Post" asp-route-slug="@post.Slug">
                <div class="post-preview-img-wrapp post-preview-img-wrapp--small">
                    <img src="@post.ImgPath" alt="@post.ImgAlt" />
                </div>
            </a>
        </div>


    }
    index++;
}

